version: '3'
services:
  collectd-installer:
    build: ./collectd-installer
    container_name: collectd-installer
    environment:
      - USER=$USER
      - PASS=$PASS
      - OS=$OS
      - MODE=$MODE
    network_mode: host
  model-repository:
    build: ./model-repository
    container_name: model-repository
    ports:
      - 5000:5000
      # - "50021:21"
    networks:
      - net
    volumes:
      - models:/mlflow
    extra_hosts:
      - model-repository:127.0.0.1
  smart-optimizer:
    build: ./smart-optimizer
    container_name: smart-optimizer
    environment:
      - MODE=$MODE
    networks:
      - net
  smart-predictor:
    build: ./smart-predictor
    container_name: smart-predictor
    ports:
      - 9106:9106
    networks:
      - net
  jihyun-exporter:
    build: ./collectd-exporter
    container_name: jihyun-server
    ports:
      - 9103:9103
    networks:
      - net
  # jihyun-alt-exporter:
  #   build: ./data-exporter/collectd-alt
  #   container_name: jihyun-server
  #   ports:
  #     - 9103:9103
  #   networks:
  #     - net
  minji-exporter:
    build: ./data-exporter/normal
    container_name: minji-server
    networks:
      - net
  inye-exporter:
    build: ./data-exporter/failure
    container_name: inye-server
    networks:
      - net
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 9090:9090
    networks:
      - net
    volumes:
      - ./prometheus:/etc/prometheus
      - tsdb:/prometheus
  image-renderer:
    image: grafana/grafana-image-renderer:latest
    container_name: image-renderer
    networks:
      - net
  grafana:
    build: ./grafana
    container_name: grafana
    ports:
      - 3000:3000
    networks:
      - net
    volumes:
    - grafana:/var/lib/grafana
    environment:
      - GF_RENDERING_SERVER_URL=http://image-renderer:8081/render
      - GF_RENDERING_CALLBACK_URL=http://grafana:3000/
      - GF_LOG_FILTERS=rendering:debug
networks:
  net:
volumes:
  tsdb:
    external: false
  models:
    external: false
  grafana:
    external: false